header {
  height: 50px;
  background: #8a2be2;
  color: #fff;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  font-style: italic;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul li a {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 10px 0 10px 0;
  border: 2px solid transparent;
}

.menu ul li a.active {
  border: 2px solid #fff;
  background: #fff;
  color: #8a2be2;
}

.menu ul li a.active:hover {
  background: transparent;
  color: #fff;
}

.menu ul li a:hover {
  border: 2px solid #fff;
  transition: 0.3s ease-in all;
}
